// Main colors
$primary-color: #6fb46c;
$secondary-color: #06452f;
$black: #000;
$black-color: #000;
$yellow-color: #f2d743;
$white: #fff;
$white-color: #fff;
$anchor-hover: #6fb46c;
$accent-orange: #d3a45c;
$transparent-color: transparent;
$input-background-color:#f8f8f8;


//Heading Colors
$heading1_color:#008563;
$red-color:red;

//Breadcrumb separator
$separator_color:#ccc;

//Search colors
$form-hover:#ffffff33;
$search-hover:#386a59;

//border color
$border-color:#ddd;
$input-color:#bdbdbe;
$card-border-color:#58585a;
$select-border-color:#00000038;