// Main colors
$primary-color: #006e43;
$secondary-color: #898a8d;
$black-color: #000000;
$white-color: #ffffff;
$anchor-hover: #00ce7c;
$praragraph-color: #545954;

// Border Colors
$light-grey: #dddddd;