//Backgrounds colors
$bg-transparent: transparent !default;
$white:#fff;
$black:#000;
$hover-anchor:#333;
$faded-green:#5eb383;
$blue:#1E638D;
$dark-gray:#2E2E2E;
$link-blue:#337ab7;
$link-hover:#23527c;
$thead-color:#1a75bc;
$button:#333;
$row-grey:#eee;
$row-white:#F9F9F9;