@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.container:not(.col-12) {
    max-width: 75rem;  
    @include respond-to(desktop){
        max-width: 97rem;
    }
    @include respond-to(large-desktop){
        max-width: 117rem;
    }
   
}

.component{
    &.container{
        &.full-width{
            max-width: 140rem;
            .container{
                max-width: 140rem;
            }
        }
        &.container-large{
            max-width: 140rem;
        }
        &.container-small{
            max-width: 102.4rem;
        }
    }
    
}