@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";



.component {

    /*===========================================
        product card
    =============================================*/
    .related-products,
    &.product-details,
    &.variant-1,
    #product-type,
    #article-type,
    #others-type,
    .product-result-tiles {

        .product-card,
        .cgp-product {
            .body-copy {
                font-size: 1.4rem;
                line-height: 1.42857143;
                color: $product-card-description-color;
                font-weight: normal;
                @include Montserrat-font-stack();
                padding-bottom: 1.5rem;
                text-align: center;

                h3 {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    font-weight: 900;
                    @include Montserrat-font-stack();
                    color: $product-card-title-color;

                    a {
                        color: inherit;
                    }

                    &:hover {
                        color: $link-color-hover;

                        a {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }

    &.product-listing {

        #product-type,
        #article-type,
        #others-type,
        .product-result-tiles {

            .product-card,
            .cgp-product {
                &:hover {
                    text-decoration: underline;
                }

                .body-copy {

                    h3 {
                        color: $product-card-title-color;

                        &:hover {
                            color: $product-card-title-color;
                            text-decoration: underline;

                            a {
                                color: inherit;
                                text-decoration: inherit;
                            }
                        }



                    }

                }
            }
        }
    }

    &.article-listing {

        #product-type,
        #article-type,
        #others-type,
        .product-result-tiles {
            .product-card,
            .cgp-product {
                .body-copy {
                    h3 {
                        color: $product-card-title-color;
                        &:hover {
                            color: $product-card-title-color;
                            a {
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
   .related-products .slick-slide .product-card {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
  /*=======================================
        Related Articles component
=========================================*/
    &.related-articles-horizontal-view {
        .body-copy {
            padding: 9px;
            text-align: left;
            h3 {
                font-size: 2.2rem;
                line-height: 1.1;
                font-weight: 700;
                margin-bottom: 1.6rem;
                margin-top: 2rem;
            }
        }
    }
    /*===========================================
        Search Result Product Card
    =============================================*/
}