@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "base/fonts/fonts";
html{
    font-size: 16px;
}
body {
    @include Montserrat-font-stack();
    font-size: 1rem;
    line-height: 1.42857143;   
    color: #000;
}

b,
strong {
    font-weight: bold;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

a {
    color: $link-color;
    transition: all ease-in-out 200ms;    
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: $link-color-hover;
        text-decoration: underline;
    }
}
small,.small {
    font-size: 80%;
}
blockquote {
    padding: 11px 22px;
    margin: 0 0 22px;
    font-size: 20px;
    border-left: 5px solid #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    @include Nunito-font-stack();
    font-weight: bold;
    color: #78256c;
    line-height: 1.1;
    small {
        font-size: 75%;
    }
}
h1,
h2,
h3{
    margin-top: 22px;
    margin-bottom: 11px;
}
h4,
h5,
h6 {
    margin-top: 11px;
    margin-bottom: 11px;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.28rem;
}
h5 {
    font-size: 1.024rem;
}
h6 {
    font-size: 0.8192rem;
}
p {
    margin: 0 0 11px;
}

.component {
    &.content,
    &.rich-text {
        @include Montserrat-font-stack();
        font-size: 1rem;
        line-height: 1.42857143;   
        color: #000;
        .sxa-btn{
            margin-top: 30px;
            a{
                margin-right: 15px;
            }
        }
        p {
            margin: 0 0 11px;
        }
        a {
            color: $link-color;
            transition: all ease-in-out 200ms;    
            cursor: pointer;
            text-decoration: none;
            &:hover {
                color: $link-color-hover;
                text-decoration: underline;
            }
        }
        ul li{
            font-size: inherit;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include Nunito-font-stack();
            font-weight: bold;
            color: #78256c;
            line-height: 1.1;
        
            small {
                font-size: 75%;
            }
        }
        h1,
        h2,
        h3{
            margin-top: 22px;
            margin-bottom: 11px;
        }
        h4,
        h5,
        h6 {
            margin-top: 11px;
            margin-bottom: 11px;
        }
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.6rem;
        }
        h4 {
            font-size: 1.28rem;
        }
        h5 {
            font-size: 1.024rem;
        }
        h6 {
            font-size: 0.8192rem;
        }
        table {
            td,
            th,
            tr {
                vertical-align: top;
            }
        }
    }
}
.bg-linen-gradient{
    background: linear-gradient(#e6e2e7, #fff);
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    padding-top: 30px;
}
.bg-gray-gradient{
    background: linear-gradient(180deg, #d5d5e5 1%, #fff 12%);
}
.space-lg-top{margin-top: 40px;}
.space-md-top{margin-top: 30px;}
.space-sm-top{margin-top: 20px;}
.space-lg-bottom{margin-bottom: 40px;}
.space-md-bottom{margin-bottom: 30px;}
.space-sm-bottom{margin-bottom: 20px;}

.score-anchorpoint {
    height: 0;
    width: 0;
    margin: 0;
    color: #0000 !important;
    overflow: hidden;
    display: block;
}
.on-page-editor {
    .rich-text span.fa {
        width: auto;
    }
}
