@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {
    /*===========================================
        product card
    =============================================*/

    #product-type,
    #article-type,
    #others-type,
    .product-result-tiles {
        .card-body {
            padding: 1.25rem 0;
        }
        .product-list {
            li {
                padding-bottom: 2rem;
                .cgp-product {                    
                    padding-bottom: 15px;
                }
            }
        }
        .product-card,
        .cgp-product {
            .body-copy {
                font-size: 1rem;
                font-family: "Montserrat", sans-serif;
                color: #000;
                
                h3 {
                    font-size: 1.28rem;
                    font-family: "Nunito", sans-serif;
                    font-weight: bold;
                    color: #78256c;
                    line-height: 1.1;
                    margin-top: 11px;
                    margin-bottom: 11px;
                    padding: 0;
                    a {
                        color: inherit;
                        text-transform: none;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .result-count {
            @include Montserrat-font-stack();
            font-size: 1.2rem;
            font-weight: 300;
            font-style: italic;
            color: $secondary-color;
        }
    }

    /*===========================================
        product card on listing page
    =============================================*/
    &.product-listing {
        #product-type,
        #article-type,
        #others-type,
        .product-result-tiles {
            .card-body {
                padding: 0;
                .product-list {
                    li {
                        padding-bottom: 2rem;
                        .cgp-product {
                            border: 1px solid #6d2e8c;
                            padding: 15px;
                        }
                    }
                }
            }
           
            .product-card,
            .cgp-product {
                text-align: center;
                .image-holder {                    
                    img {
                        transition: all ease-in-out 250ms;
                        max-height: 275px;
                        margin: 0px auto 36px;
                    }
                }
            }
        }
    }

    /*===========================================
        product card on artical listing page
    =============================================*/

    &.article-listing {
        #product-type,
        #article-type,
        #others-type,
        .product-result-tiles {
            .product-card,
            .cgp-product {
                .body-copy {
                    h3 {
                        a{
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    &.global-search-listing {
        #product-type,
        #article-type,
        #others-type,
        .product-result-tiles {
            > h3 {
                color: #fff;
                background-color: #6d2e8c;
                border-radius: 2px;
                margin-bottom: 0;
                font-family: "Nunito", sans-serif;
                font-weight: bold;
                margin-top: 22px;
                line-height: 1.1;
                padding: 0;
                border: none;
                .link-btn {
                    padding: 0 15px;
                    line-height: 55px;
                    .result-count {
                        background: #fff;
                        margin-left: -15px;
                        margin-right: -15px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    &[aria-expanded]::after {
                        content: "";
                        border-style: solid;
                        border-width: 12px 12px 0 12px;
                        border-color: #fff #0000 #0000 #0000;
                        position: absolute;
                        z-index: 2;
                        transition: all ease-in-out 150ms;
                        right: 30px;
                        top: 29px;
                        -webkit-transform: translateX(50%) translateY(-50%);
                        transform: translateX(50%) translateY(-50%);
                        background: 0 0;
                    }
                    &[aria-expanded="false"]::after {
                        right: 30px;
                        top: 29px;
                        transform: translateX(50%) translateY(-50%) rotate(90deg);
                    }
                    &[aria-expanded]::before {
                        display: none;
                    }
                }
            }
            .card-body {
                padding: 0;
                .product-list {
                    li {
                        padding-bottom: 2rem;
                        .cgp-product {
                            border: 1px solid #6d2e8c;
                            padding: 15px;
                        }
                    }
                }
            }
            .product-card,
            .cgp-product {
                .body-copy {
                    text-align: center;
                    h3 {
                        font-family: "Nunito", sans-serif;
                        font-weight: bold;
                        color: #78256c;
                        font-size: 1.6rem;
                        margin-top: 22px;
                        margin-bottom: 11px;
                        line-height: 1.1;
                        a {
                            color: #d14b9b;
                            transition: all ease-in-out 200ms;
                            &:hover {
                                color: #e69cc8;
                                outline: 0;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    /*=======================================
        Related Articles component
=========================================*/
    &.related-articles-horizontal-view {
        margin-bottom: 30px;
        &.variant-3 {
            .copy-wrap {
                h2 {
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            }
            .body-copy {
                font-size: 1rem;
                font-family: "Montserrat", sans-serif;
                color: #000;
                h3 {
                    font-size: 1.28rem;
                    font-family: "Nunito", sans-serif;
                    font-weight: bold;
                    color: #78256c;
                    line-height: 1.1;
                    margin-top: 11px;
                    margin-bottom: 11px;
                    a {
                        color: inherit;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                a {
                    color: inherit;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &.related-articles {
        &.variant-2 {
            h3 {
                font-size: 1.5rem;
                line-height: 30px;
                color: $secondary-color;
                text-transform: uppercase;
                font-weight: 300;
                margin: 0px 0px 32px;
            }
            .inner-wrap {
                a {
                    font-weight: 300;
                    text-decoration: none;
                }
                .caption {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 300;
                    color: $secondary-color;
                    margin: 18px 0px 24px;
                    line-height: 1.1;
                }
                .article-tag {
                    margin-bottom: 10px;
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 480px) and(max-width: 991px) {
    .component {
        &.product-listing,
        &.global-search-listing{
            #article-type,
             #others-type,
             #product-type,
            .product-result-tiles {
                .card-body {
                    .product-list {
                        li {
                            max-width: 50%;
                        }
                    }
                }
            }
        }
    }
}
