@import "abstracts/vars";
@import "abstracts/mixins";

.component {
    &.feature-content-tiles {
       &.variant-2{
        padding-top: 0;
        padding-bottom: 0;
        .container{
            padding-left: 0;
            padding-right: 0;
        }
        .promo-tile {
            .field-image {
                img {
                    display: block;
                }
            }
            .field-data{
                padding-top: 0;
                h2 {
                    font-family: "Nunito", sans-serif;
                    font-weight: bold;
                    color: #78256c;
                    margin-top: 1em;
                    font-size: 2rem;
                    line-height: 1.1;
                    margin-bottom: 11px;
                }
                .field-subtext {
                    font-size: 1rem;
                    font-family: "Montserrat", sans-serif;
                    line-height: 1.42857143;
                    color: #000;
                    margin-bottom: 15px;
                }
            }
        }
       }
    }
    
    
}


@include respond-to(desktop){
    .component{
        &.feature-content-tiles{
       
        }
       
    }
    
 
}

