@import "abstracts/vars";
@import "abstracts/mixins";

#footer {
  background-color: #e6e2e7;
  color: #000;
  overflow: hidden;
  
  .component {
    &content,
    &.rich-text {
      color: #000;
      font-size: 12px;
      p {
        font-size: 12px;
        margin: 0 0 1rem 0;
      }
    }
    .footer-left {
      padding: 30px 0;
      .component {
        &.image {
          img {         
            max-width: 140px;
            margin-bottom: 23px;
          }
        }
      }
    }
    &.link-list {
      ul {
        margin-bottom: 11px;
        li {
          .field-link {
            margin: 0;
            a {
              color: #000;
              font-size: 1rem;
              opacity: 1;
              font-weight: 400;
              border: none;
              &:hover{
                text-decoration: underline;
                color: #808080;
                border: none;
              }
            }
          }
        }
      }
      &.inline-link {
        margin-top: 13px;
        ul {
          li:not(:first-child):before {
            background: transparent;
            height: 19px;
            content: "|";
            font-family: monospace;
            color: #000;
            font-size: 16px;
            line-height: 1;
            width: 5px;
            text-align: center;
            .field-link {
              a{
               
                &:hover{
                  text-decoration: underline;
                  color: #808080;
                  border: none;
                }
              }
            }
          }
         li:first-child .field-link a {
            margin-left: 0;
        }
        }
      }
    }

    &.utility-navigation {
      &.social-links {
        .icon-container {
          border: none;
          justify-content: flex-start;
          margin-bottom: 11px;
          
          .fa {
            font-size: 24px;
            margin: 4px;
            padding: 0;
            color: #000;
            transition: all ease-in-out 200ms;
          }
          a{
            border: none;
            &:hover{
              text-decoration: none;
              .fa {
                color: #808080;
              }
            }
          }
        }
      }
    }

    .footer-right {
      position: relative;
      padding-left: 10px !important;
      padding-right: 10px !important;
      padding-top: 30px;
      padding-bottom: 30px;
      &:before {
        content: "";
        position: absolute;
        background-color: #78256c;
        width: 500%;
        height: 500%;
        top: 0;
        left: 0;
      }
      .component {
        &.rich-text {
          color: #fff;
          text-align: center;
          font-size: 1rem;
          p {
            font-size: 1rem;
          }
          h3 {
            color: #fff;
            font-size: 1.6rem;
          }
        }
      }
      .sxa-btn {
        a {
          color: #fff;
          border-color: #fff;
          background-color: #0000;
          padding: 10px 16px;
          font-size: 20px;
          line-height: 1.33;
          text-decoration: none;
          &:hover {
            border-color: #0000;
            background-color: #fff;
            color: #78256c !important;
          }
        }
      }
    }
 
  }
}

@include respond-to(tab) {
  #footer {
    .component {
    }
  }
}
@include respond-to(desktop) {
  #footer {
    .component {
    }
  }
}
@include respond-to(below-tab) {
  #footer {
    .footer-right{
      background-color: #78256c;
      &:before{
        display: none;
      }
    }
  }
}
