@import "abstracts/vars";
@import "abstracts/mixins";
.search {
  .search-box {
    position: relative;
    margin: 1rem 0;
    .search-holder {
      .search-wrapper {
        &::before {
          background: none;
        }
        .search-input-wrapper {
          .search-input {
            padding: 0;
            border: 1px solid rgb(118, 118, 118);
            color: #636569;
            line-height: 1;
            font-size: 1.6rem;
            box-shadow: none;
            border-radius: 3px;
            margin-left: 1.5rem;            
            height: 3.5rem;
            padding-left: 1rem;
            &:focus {
              outline: $black auto 1px;
            }
          }
          .custom-search-box-button {
            display: block;
            width: 25px;
            height: calc(100% - 1rem);
            right: 0px;
            top: 5px;
          }
        }
      }
    }
  }
  .component {
    &.global-search-listing {
      h1 {
        font-size: 4rem;
      }
      .result-search-wrap {
        .result-count {
          color: green($color: #000000);
          font-family: Arial, Helvetica, sans-serif;
          font-size: 2.17rem;
          padding: 0;
          margin: 0;
          p {
            font-size: 1.6rem;
          }
        }
      }
      .product-wrap {
        #search-wrapper {
          #product-type,
          #others-type {
            .load-more {
              .loadresult {
                color: #ffffff;
                background-color: rgba(0, 0, 0, 0.5);
                border-color: rgba(0, 0, 0, 0.5);
                padding: 5px 10px;
                min-width: 120px;
                text-decoration: none;
                padding: 10px 25px;
                border: none;
                &:hover {
                  background-color: $black;
                }
              }
            }
            h3 {
              border-bottom: 2px solid $search-border;
              padding-left: 0;
              padding-right: 0;
              .link-btn {
                font-size: 3rem;
                font-weight: 500;
                &:before,
                &:after {
                  right: 0.5rem;
                }
              }
            }
            .custom-listing-wrapper {
              .card-body {
                border-top: 1px solid #aaa;
                padding: 1.25rem 0 0;
                .product-list {
                  margin-bottom: 0;
                  li {
                    margin-top: 0;
                    padding: 0 1.5rem 2.4rem 1.5rem;
                    .cgp-product {
                      text-align: center;
                      padding: 1rem;
                      border: 1px #ddd solid;
                      .body-copy {
                        h3 {
                          font-size: 2rem;
                          border: 0;
                          font-weight: bold;
                          padding: 2rem 0 1rem 0;
                          margin: 0;
                          line-height: 1.2;
                          a {
                            color: #337ab7;
                            font-family: inherit;

                            &:hover {
                              text-decoration: underline;
                            }
                          }
                        }
                        p {
                          color: #333333;
                          font-size: 1.6rem;
                          margin-top: 5px;
                        }
                      }
                      .image-holder {
                        padding: 1.5rem;
                        width: 80%;
                        margin: 0 auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .load-more {
        margin: 0 0 20px 10px;
        a {
          color: rgb(52, 51, 51);
          background-color: #efefef;
          padding: 3px 8px;
          border: 1px solid rgb(118, 118, 118);
          border-radius: 3px;
          margin: 0.5rem 1.5rem;
        }
        @include respond-to(desktop) {
          margin: 0 0 20px 0;
        }
      }
    }
  }
  @include respond-to(tab) {
    .component {
      &.global-search-listing {
        .result-search-wrap {
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
          display: flex;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          justify-content: space-between;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;

          .result-count {
            padding: 0;
          }
        }
      }
    }
  }

  @include respond-to(desktop) {
    .search-box {
      margin-top: 1.5rem;
      .search-holder {
        .search-wrapper {
          .search-input-wrapper {
            .search-input {
              margin-left: 1.5rem !important;
            }
          }
        }
      }
    }
  }
}
