// Main colors
$primary-color: #020202;
$secondary-color: #78256c;
$black-color: #000;
$light-black-color: #333;
$extra-light-black-color: #221F1F;
$white-color: #fff;
$light-white-color: rgba(255, 255, 255, 0.9);
$utility-color:rgb(15,39,63);
$light-gray:#f2f2f2;
$off-white:#F7F7F7;
$anchor-hover:#811a1e;
$light-white:#eeeeee;
$off-black:#4c4c4c;
$border-light:#efefef;
$light-bg:#f5f5f5;
$tab-bg:#f4f6e8;
// Basic theme colors

$text-basic: $primary-color;
$link-color: #d14b9b;
$link-color-hover: #e69cc8;
$heading-primary-color: $primary-color;
$heading-secondary-color: $secondary-color;
$primary-button-color: $white-color;
$global-button-bg-color: $secondary-color;
$global-button-hover-color:$anchor-hover;

// Background Colors

/*================================
    Headings and title
==================================*/
$page-title-color:$primary-color;
$section-title-color: $secondary-color;
$component-title-color:$secondary-color;
$component-sitebar-title-color: $secondary-color;
$sidebar-list-color:$primary-color;
/*================================
    Header variables
==================================*/
$header-bg:$white-color;
$search-border: $white-color;
$search-background:$off-white;
$search-border-mobile:$secondary-color;
$Search-input-color:#0F273F;
$input-placeholder: $white-color;
$Search-input-mobile-color: $black-color;
$header-bottom:$secondary-color;
$mobile-hamburger-icon-color: #fff;
$mobile-hamburger-icon-bar: #fff;
$mobile-hamburger-bg: transparent;
$mobile-search-button-bg: #fff;
// header contact link
$Utility-contact-color: #0F273F;
$Utility-contact-color-hover: #0F273F; 
$Utility-contact-hover-color:#0F273F;
$Utility-contact-icon:$secondary-color;
// Navigation label 1
$navigation-level1-color: $white-color;
$navigation-level1-mobile-color:$secondary-color;
$navigation-level1-hover-bg: $white-color;
$navigation-level1-hover-color: $secondary-color;
$navigation-level1-arrow-hover-color: $black-color;
// Navigation submenu
$submenu-bg: $white-color;
// Navigation label 2
$submenu-title-color: $secondary-color;
$submenu-title-bolor: $black-color;
$submenu-label1-color: $black-color;
$submenu-label1-hover-color :$black-color;
$submenu-see-more-color: $secondary-color;
$submenu-see-more-hover-color:$secondary-color;
// Component Banner
$banner-carousel-title:$light-black-color;
// Component Footer 
$footer-color: #fff;
$footer-background: #8c8c8c;
$footer-links-color: #fff;
$footer-links-color-hover: #fff;
$footer-social-bg: #337ab7;
$back-top-background:$light-white-color;
$footer-social-icon-color:$white-color; 
$footer-anchor-hover:$anchor-hover;
// common colors 
$link-list-color: #231f20;
$slick-dots-border: #fff;
$slick-active-color: #fff;
$slick-arrow-color: $secondary-color;
// sitemap colors
$sitemap-link-color: #337ab7;
$sitemap-link-hover-color: #23527c;
$inline-link-color: #231f20;

// accordian and breadcrumbs
$accordian-heading-border-color: $black-color;  
$breadcrumb-color: $secondary-color;
$breadcrumb-color-hover: #0f273f;
// linked-thumbnail
$linked-thumbnail-color: $primary-color;
$linked-thumbnail-hover-color:$secondary-color;
// image gallery
$image-gallery-title-color :$primary-color;
$image-gallery-color: $primary-color;
$image-gallery-color-hover: $secondary-color;

/*================================
    Header variables
==================================*/
// form input
$input-color: $primary-color;
$input-placeholder-color: $primary-color;
$input-border: #a4b727;
$input-background: $white-color;
// form checkbox
$checkbox-checked-bg: $secondary-color;
$checkbox-border: $black-color;
// form label
$form-label-color: #0F273F;
$form-error-msg-color : #33322E;

/*================================
    Product Card
==================================*/
$product-card-title-color: #c1272d;
$product-card-description-color: #33322e;

// faq 
$faq-heading-color: $product-card-description-color;
$faq-content-color: $primary-color;
$faq-header-border:#ddd;

//profile listing
$profile-listing-overlay-color: $secondary-color;