@if (Model.DisableGoogleAd)
{
    <div class="component plain-html col-12">
        <div class="component-content">
            <div class="">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=@Model.GoogleAdSense.PublisherID"
                        crossorigin="anonymous"></script>
                <!-- TFH Square Article Ad Test -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="@Model.GoogleAdSense.PublisherID"
                     data-ad-slot="@Model.GoogleAdSense.AdSlotID"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
}