//Basic colors
$white: #fff;
$black: #000;
$body-color: #333;
$border-grey: #aaa;
$title_primary: #9f1c33;
$product-bg-secondary: #ecb324;
$canvas-bg: #e8e4d9;
$paper-bg: #c6c8ca;

//Cadet links
$hover_link: #5e111e;

//Cadet title
$link_title_primary: #553723;

//Home page multi-col-tiles
$bg-yellow: #ecb324;
$bg-grey: #c1b49a;
$bg-red: #9f1c33;
$bg-blue: #3e91b5;

//Cadet search page
$gray-heading: #636466;
$heading-hover: #3d3e3f;

//Why Cadet Page
$gray-bg: #c6c8ca;
$banner-bg: #b7b7b7;
$shadow-cta: #4e4d4f;
$border-cta: #808080;

//Hubspot form
$input-border: #a9a9a9;

//PDP page
$variant-gray: #676769;
$article-gray: #7a7b7c;

//Where to buy
$zip-error: #ff6a00;
$error-gray: #999999;
$border-btn: #dddddd;
