@import "abstracts/mixins";

.page-not-found {
  .column-splitter {
    @include respond-to(desktop) {
    }
  }
}

.partnership {
  .content {
    @include respond-to(desktop) {
      padding: 20px;
      max-width: 1400px;
      margin: auto;
    }
  }
}
