//Basic colors
$white: #fff;
$black: #000;
$red: #f00;
$body-color: #353439;
$primary-color: #f70915;
$dark-grey:#262626;
$light-grey:#d6d1ca;
$dull-white:#fbfbfb;
$brand-yellow:#FFCC00;
$brand-blue:#3399CC;
$brand-green:#99CC33;
$brand-purple:#993366;