@import "abstracts/vars";
@import "abstracts/mixins";

.component {
    &.accordion {
        .toggle-header {
            border-top: 2px solid #7d716d;
            .label {
                padding: 0;
            }
            .component {
                .field-heading {
                    padding: 30px 0px 14px 20px;
                    display: block;
                    text-decoration: none;
                    position: relative;
                    font-size: 16px;
                    line-height: 1;
                    font-weight: 500;
                    color: $secondary-color;
                  
                }
            }
        }
    

      
      
    }
}

