// Main colors
$white-color: #ffffff;
$black-color: #000000;
$light-black: #333333;
$gray-color: #58595b;
$green-color: #7dbe47;
$lightest-green: #649b37;
$darkest-green: #3c763d;
$dark-green: #588830;
$light-green: #8a6d3b;
$green-primary: #2b542c;
$green-secondary: #66512c;
$dark-gary: #777777;
$orange-color: #f47d2e;
$light-blue: #31708f;
$dark-blue: #245269;
$dark-red: #843534;
$red-color: #a94442;
$gray-secondary:#cccccc;
$gray-tertiary:#ededed;
$gray-light:#d3d3d3;

$dark-green-primary : #008563;
$green-tertiary: #6fb46c;
$black-primary : #06452f;
$dark-green-secondary : #497128;
$yellow-primary:#f2d743;
$black-secondary : #00000038;
$gray-light-primary:#eeeeee;
