@import "abstracts/vars";
@import "abstracts/mixins";


/*==================================================
    Global input box
====================================================*/
main .search-box input[type=text],
.component.hubspot-form .hs-form .form-columns-2 .hs-form-field .hs-input,
.component.hubspot-form .hs-form .form-columns-1 .input .hs-input:not(input[type=checkbox]),
.component.hubspot-form .hs-form .form-columns-1 .input input[type=email],
.component.hubspot-form .hs-form .hs-input:not(input[type=checkbox]),
.component.hubspot-form .hs-form input[type=email],
.component.hubspot-form .hs-form input[type=tel],
.component.hubspot-form .hs-form select,
.component.hubspot-form .hs-form textarea {
    padding: 0 1.5rem;
    background: $input-background;
    border: 1px solid $input-border;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    display: block;
    height: 3.5rem;
    min-height: auto;
    color: $input-color;
    @include Helvetica-font-stack();
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3.3rem;
    min-width: auto;
    box-sizing: border-box;

    &::-moz-placeholder {
        color: $input-placeholder-color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $input-placeholder-color;
        opacity: 1;
    }

    &::-webkit-input-placeholder {
        color: $input-placeholder-color;
        opacity: 1;
    }
}

/*==================================================
    Global check box
====================================================*/
.component.hubspot-form {
    .hs-form-booleancheckbox label ,
    .hs-form {
        span:before{
            margin-left: 0;
        }
    }



    .hs-form-booleancheckbox,
    .hs-form-checkbox-display {
        input[type=checkbox] {
            +span {
                position: relative;
                padding: 5px 10px 5px 35px;
                line-height: 1;
                cursor: pointer;
                margin-left: 0;
                color: #0F273F;
                @include Helvetica-font-stack();
                font-size: 1.6rem;
                cursor: pointer;
                display: inline-block;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 1px solid $light-blue;
                    border-radius: 0;
                    background-color: #0000;
                    transition: background-color 170ms ease-in-out;
                }

                &:after {
                    position: absolute;
                    content: '';
                    left: 6px;
                    top: 6px;
                    width: 14px;
                    height: 14px;
                    -ms-transform: rotate(45deg);
                    background: $light-blue;
                    opacity: 0;
                    transition: all ease-in-out 250ms;
                }
            }

            &:checked {
                +span {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }

        &:hover {
            input[type=checkbox] {
                +span {
                    &:before {
                        border: 2px solid $light-blue;

                    }


                }


            }
        }
    }
}


/*==================================================
    Global select option input
====================================================*/
.component.hubspot-form .hs-form .form-columns-2 .hs-form-field select.hs-input,
.component.hubspot-form .hs-form select.hs-input,
.component.hubspot-form .hs-form .input select.hs-input,
.component.hubspot-form .hs-form select,
.component.hubspot-form .hs-form .input select,
form select {
    background-color: $input-background;
    background-image: url(../images/site-icons/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
    background-size: 12px 8px;
    font-size: 1.4rem;
    color: $input-color;
    line-height: 3.3rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


}

/*==================================================
        Hubspot form
====================================================*/


.component {
    &.hubspot-form {
        .hs-submit {
            >.actions {
                padding-top: 0;
                padding-bottom: 0;
                margin-left: 0;

            }
        }

        input[type=submit] {
            border: none;
            background: transparent;
            padding: 0;
            font-size: 1.6rem;
            font-weight: 700;
            @include Kadwa-font-stack();
            box-shadow: none;
            text-shadow: none;
            cursor: pointer;
            transition: all ease-in-out 250ms;
            text-transform: none;
            min-width: 14.4rem;
            &:focus,
            &:active,
            &:hover {
                @include Kadwa-font-stack();
                background: transparent !important;
                border: none !important;
                box-shadow: none !important;
            }
        }

        .hs-form-checkbox {
            width: 100%;


        }

        .hs-form-booleancheckbox {
            padding: 0;
            margin: 0;
            position: relative;
            width: 100%;

            label {

                span {
                    display: inline-block;
                    font-weight: 500;
                    color: $form-label-color;
                    width: auto;

                    &:before {
                        top: 2px;
                    }
                }

                &:not(.hs-error-msg) {
                    @include Helvetica-font-stack();
                    font-size: 1.6rem;
                    line-height: 3.3rem;
                    color: $form-label-color;
                    font-weight: 500;
                }
            }
        }

        .hs-form {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.8;
           
            .hs-error-msgs {
                padding-left: 0;

                li label {
                    color: $form-error-msg-color;
                    font-weight: 300;
                    font-size: 1.6rem;
                }
            }

            label {
                font-size: 1.8rem;
                font-weight: 500;

                span {
                    font-weight: 300;
                }
            }

            textarea {
                height: auto !important;
            }

            .input {
                margin: 0 !important;
                padding-left: 0;

                @include respond-to(tab) {
                    padding-right: 3rem;
                }

            }

            .hs-form-field {
                margin-bottom: 2rem;

                @include respond-to(mobile) {
                    width: 100%;
                }

            }
            .hs-form-field label,
            .hs-fieldtype-select label,
            .hs-fieldtype-text label,
            .hs-fieldtype-textarea label {
                color: #0F273F;
                @include Helvetica-font-stack();
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 1.5;
                margin-bottom: 15px;
            }
            .hs_equine_topics .hs-field-desc {
                display: none !important;
            }
        }



        ul.inputs-list {
            padding: 0 0 0 0;
            .hs-form-checkbox{
                margin-left: 0;
            }
            &:not(.multi-container){
                label{
                    margin-bottom: 0;
                }
            }
           
        }
        
       

    }
}


@include respond-to(tab){
    .component.hubspot-form ul.inputs-list .hs-form-checkbox {       
        padding-bottom: 0;
    }
    ul.inputs-list {       
        &.multi-container {
            columns: 2;
        }

    }
}