@import "abstracts/vars";
@import "abstracts/mixins";


.component {
    &.linked-thumbnail {
        .slick-initialized {
            padding-left: 4rem;
            padding-right: 4rem;

        }

        &.horizontal-list {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.quick-links {
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                ul {
                    display: block;

                    li {
                        list-style: none;

                        a {
                            text-align: left;
                        }
                    }
                }
            }
        }

        ul {
            li {
                .field-description {
                    text-align: center;
                    font-size: 1.3rem;
                    @include Helvetica-font-stack();
                    font-weight: 500;
                    padding: 0 1rem;

                    @include respond-to(tab) {
                        font-size: 1.6rem;
                        font-weight: 700;
                    }

                    @include respond-to(desktop) {
                        font-size: 1.8rem;
                        font-weight: 700;
                    }
                }

                .field-image {
                    padding: 0.4rem;
                    position: relative;
                    min-height: 150px;
                    cursor: pointer;

                    a {
                        display: block;
                        color: $linked-thumbnail-color;

                        &:hover {
                            color: $linked-thumbnail-hover-color;
                        }
                    }

                    &:before {
                        pointer-events: none;
                        content: '';
                        background-image: url(../images/cross-out-icon.png);
                        width: 100%;
                        height: 100%;
                        display: block;
                        top: 50%;
                        left: 50%;
                        position: absolute;
                        -webkit-transform: translateX(-50%) translateY(-50%);
                        -khtml-transform: translateX(-50%) translateY(-50%);
                        -moz-transform: translateX(-50%) translateY(-50%);
                        transform: translateX(-50%) translateY(-50%);
                        opacity: 0;
                        transition: opacity ease-in-out 150ms;
                        background-size: 80% auto;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }

                }

                &:hover {
                    .field-image:before {
                        opacity: 1;
                    }

                    .field-description {
                        cursor: pointer;
                        color: $link-color-hover;
                    }
                }

                img {
                    width: 100%;
                    max-width: 15.2rem;
                    padding: 0;
                }
            }
        }
    }

    &.image-gallery {
        .container {
            padding-left: 0;
            padding-right: 0;
        }

        &.remove-border {
            .card {
                border: none;
            }
        }
      
       

        .card {
            &.h-100 {
                height: auto !important;
            }

            &:hover {
                .field-title {
                    color: $image-gallery-color-hover;
                }
            }
        }

        a {
            color: $image-gallery-color;

            &:hover {
                color: $image-gallery-color-hover;

                .field-title {
                    color: inherit;
                }
            }

        }

        .card-img-top {
            position: relative;
            padding-top: 100%;
            overflow: hidden;

            img {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .card-body {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: 400;

            .field-title {
                font-size: 1.8rem;
                margin: 0;
                font-weight: 700;
                text-align: center;
                color: $image-gallery-title-color;
                font-style: normal;
            }
        }
    }
    .title{
        h1{
            font-size: 3.6rem;
            font-weight: 500;
            border: none;
            @include Helvetica-font-stack();
            color: $text-basic;
            cursor: default;
        }
    }
    .addthis{
        margin-bottom: 3rem;
    }
}

