@import "abstracts/vars";
@import "abstracts/mixins";

div,
.component {
    &.product-details {
        &.variant-4 {
            .product-wrapper {
                .ps-show-more-stores-btn {
                    margin: 10px 15px;
                }

                .ps-reviews-button {
                    margin-bottom: 16px;
                }

                .content {
                    .field-content {
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 1.4;
                        @include Helvetica-font-stack();
                        margin-bottom: 1.5rem;

                        @include respond-to(desktop) {
                            font-size: 2.1rem;
                        }
                    }
                }

                .product-title {
                    h1 {
                        font-size: 3.6rem;
                        font-weight: 900;
                        @include Lato-font-stack();
                        color: $primary-color;
                        text-transform: none;
                    }
                }

                .body-copy {
                    color: $primary-color;
                    font-size: 1.8rem;
                    font-weight: 300;

                    p {
                        color: inherit;
                    }
                }
            }
        }
        &.variant-1 {
            .popular-products .inner-wrap .row .image-holder a img {
                max-width: 30rem;
            }
        }
    }

    &.product-variant {
        .variant-id {
            .variant-text-color {
                font-weight: 700;
                span {
                    font-weight: 400;
                    display: block;
                }
            }
        }

        .variant-description {
            padding-bottom: 0;
        }

        h4 {
            color: $primary-color;
            font-size: 1.8rem;
            line-height: 1.22rem;
            margin-bottom: 13px;
            @include Helvetica-font-stack();
            font-weight: 700;
        }

        .where-to-buy {
            .link {
                padding-left: 0;
                padding-right: 0;
            }

            a {
                display: inline-block;
                clear: both;
                margin: 0 15px 0 0;
                padding: 0 12px;
                border-radius: 4px;
                min-width: 179px;
                font-family: "Arial Narrow", sans-serif;
                font-weight: 600;
                transition: all ease-in-out 250ms;
                text-transform: uppercase;
                color: $black-color;
                font-size: 1.7rem;
                line-height: 38px;
            }
        }

        select {
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) center;
            -webkit-appearance: none;
            background-image: url(../images/site-icons/icon_caret.png);
            color: $black-color;
            padding: 6px 5px;
            border: 1px solid $black-color;
            width: 50%;
            position: relative;
            @include Helvetica-font-stack();
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1.3;
            display: inline-block;
            margin-bottom: 0;
            border-radius: 5px;
            text-align: left;
            &:disabled {
                opacity: 1;
                -webkit-appearance: none;
           background-image: none;
                min-width: auto;
                padding-right: 10px;
            }

         
        }

        .dropdown-wrapper {
            display: block;
            position: relative;
            overflow: hidden;

            &:after {
                content: "";
                width: 12px;
                height: 8px;
                transition: all ease-in-out 250ms;
                position: absolute;
                top: 23px;
                right: 11px;
                transform: rotate(0deg);
            }

            @include respond-to(mobile) {
                display: block;
                width: 90%;

                select {
                    background-repeat: no-repeat;
                }
            }

            &.open {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }
    &.ps-widget.ps-disabled {
        padding: 12px 20px;
        margin-left: 15px;
        > small {
            font-size: 1.8rem !important;

            &:hover {
                font-size: 1.8rem !important;
            }
        }
    }
    &.product-documents-list {
        .short-product-list {
            .short-product-list-wrapper {
                .product-item {
                    margin: auto;
                    text-align: center;
                    display: block;
                    padding: 4px;
                    margin-bottom: 20px;
                    line-height: 1.42857143;
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                    border-radius: 4px;
                    -webkit-transition: border 0.2s ease-in-out;
                    -o-transition: border 0.2s ease-in-out;
                    transition: border 0.2s ease-in-out;
                    a {
                        margin: 0;
                        img {
                            border: none;
                        }
                        h4 {
                            font-size: 1.6rem;
                            font-weight: 900;
                            color: $product-card-description-color;
                        }
                       
                    }
                }
            }
        }
    }
    &.productimage {
        .inner-wrap {
            width: 80%;

            .image-container {
                text-align: left;

                div {
                    border: 1px solid #ddd;
                    border-radius: 0.4rem;
                }
            }
        }

        .image-placeholder {
            background-color: #fff;
            border-radius: 0.4rem;
        }
    }

    &.article-detail {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        @include Helvetica-font-stack();  
        color: #33322e;
        font-size: 2.4rem;
        line-height: 1.42857143;
        p {
            font-size: 1.8rem;
        }
        b,
        strong {
            font-weight: 700;
        }
        &.content {
            ul:not([class]) {
                font-size: 1.8rem;
            }
            ol:not([class]) {
                li {
                    font-size: 2.4rem;
                    font-weight: 400;
                }
            }
        }
        h1 {
            font-weight: 700;
            @include Helvetica-font-stack();
        }
        h2 {
            font-family: "Lato", sans-serif;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.1;
        }
        h3 {
            font-family: "Lato", sans-serif;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.1;
        }
        h4 {
            @include Helvetica-font-stack();
        }
        &.heading-red{
            h2{
                color: #c1272d;
            }
        }
        .content-large {
            font-size: 2.4rem;
            ol:not([class]) li,
            ul:not([class]) li {
                font-size: 2.4rem;
                line-height: 1.42857143;
            }
        }
        :not(.sidebar-right) {
            .content,
            .rich-text {
                a {
                    color: $link-color-hover;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: $link-color-hover;
                        text-decoration: underline;
                    }
                }

                ol:not([class]),
                ul:not([class]) {
                    li {
                        a {
                            color: $link-color-hover;
                            cursor: pointer;
                            text-decoration: none;

                            &:hover {
                                color: $link-color-hover;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                h3,
                h2 {
                    a {
                        color: #337ab7;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                            color: #23527c;
                        }
                    }
                }

                .sxa-btn a {
                    color: $white-color;
                }
            }
        }

        .related-articles {
            .inner-wrap {
                padding: 0 !important;
            }
        }

        .article-left {
            border: none;

            @include respond-to(tab) {
                padding-right: 4rem;
            }

            .author-name {
                text-align: left;
                text-transform: uppercase;
            }
        }

        .sidebar-right {
            .related-articles,
            .linked-thumbnail.horizontal-list.quick-links {
                ul:not([class]) {
                    padding: 0 0 0 2.5rem;

                    li {
                        margin-bottom: 0;

                        .field-description {
                            padding: 0;
                        }

                        a {
                            color: $sidebar-list-color;

                            &:hover {
                                color: $link-color-hover;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .image-gallery {
            .card {
                height: auto !important;
                padding-bottom: 1.5rem;

                @include respond-to(mobile) {
                    margin-bottom: 15px;
                }

                .card-img-top {
                    img {
                        margin-top: 0;
                    }
                }

                .card-body {
                    padding-bottom: 0;
                }
            }
        }

        .hero {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 2rem;

            .banner-image {
                text-align: center;
            }
        }

        .component {
            &.content {
                h2 {
                    font-weight: 700;
                    @include Lato-font-stack();
                    font-size: 2rem;
                    line-height: 22px;
                }
            }
        }

        &.colored-heading {
            h2 {
                @include Lato-font-stack();
                font-size: 3.6rem;
                font-weight: 700;
            }
        }
    }
}
