@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

#footer{ 
  .container{
    &:not(.col-12) {
      max-width:96.0rem;
      @media only screen and (min-width: 1500px){
        max-width:117.0rem;   
      } 
    }
  }
}
.container {
    &:not(.col-12) {
      max-width: 960px;
      @media only screen and (min-width: 1024px){
        max-width:60vw;
      } 
    }
  }
  .component{
    &.header-shell{
      .container {
        &:not(.col-12) {
          max-width: 120rem; 
        }
      }
    }
  }
  @media only screen and (min-width: 1600px){
    main {

      min-height: calc(100vh - 430px);
    
    }
  }