@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {

    &.global-search-listing,
    &.article-listing {
        .product-wrap {

            #article-type,
            #others-type {
                h3 {
                    color: $color-primary;
                    @include georgia-font-stack();
                    font-size: 2rem;
                    border-bottom-color: $color-primary;

                    .link-btn {

                        &:before,
                        &:after {
                            background: $color-primary ;
                        }
                    }
                }

                .result-count {
                    display: none;
                }

                #article-wrapper,
                #others-wrapper {
                    .card-body {
                        .product-list {
                            .body-copy {
                                h3 {
                                    a {
                                        font-size: 2rem;
                                        font-weight: 400;

                                        @include respond-to(tab) {
                                            font-size: 2.8rem;

                                            @media only screen and (min-width: 1500px) {
                                                font-size: 4rem;
                                            }
                                        }

                                        &:hover {
                                            color: $color-primary;
                                            text-decoration: underline;
                                            text-decoration-color: $color-primary;
                                            ;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .result-count {
                    color: $color-primary ;
                }
            }
        }

        #article-type {
            #article-wrapper {
                .card-body {
                    .product-list {
                        .full-width {
                            flex: 0 0 100%;
                            max-width: 100%;

                            .cgp-product {
                                display: block;
                                margin-bottom: 2rem;

                                &.h-100 {
                                    height: auto !important;
                                }

                                @include respond-to(desktop) {
                                    display: flex;


                                }

                                .image-holder {
                                    max-width: 365px;
                                    line-height: 0;

                                    @include respond-to(desktop) {
                                        img {
                                            object-fit: cover;
                                            min-height: 27rem;
                                        }
                                    }
                                }

                                .body-copy {
                                    background-color: $white;
                                    width: 100%;
                                    h3{
                                        padding: 1.5rem;
                                    }
                                    @include respond-to(desktop) {
                                        padding-left: 3rem;
                                        position: relative;

                                        h3 {                                                                                        position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                        }
                                    }
                                    
                                }
                            }
                        }


                    }
                }
            }
        }

        @include respond-to(desktop) {
            #others-type {
                .image-holder {
                    max-width: 365px !important;
                }
            }
        }
    }
}