<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<linkManager defaultProvider="switchableLinkProvider">
			<providers>
				<add name="SkippableLanguageEmbeddingLinkProvider" type="CGP.Foundation.SitecoreExtensions.LinkProvider.SkippableLanguageEmbeddingLinkProvider,CGP.Foundation.SitecoreExtensions" cacheExpiration="5" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="never" languageLocation="filePath" shortenUrls="true" useDisplayName="true" lowercaseUrls="true" />
			</providers>
		</linkManager>
	</sitecore>
</configuration>