<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<controlSources>
			<source mode="on" namespace="CGP.Foundation.SitecoreExtensions.Commands" assembly="CGP.Foundation.SitecoreExtensions" prefix="custommultilist"/>
			<source mode="on" namespace="CGP.Foundation.SitecoreExtensions.CustomField.UsersMultilist" assembly="CGP.Foundation.SitecoreExtensions" prefix="contentcustom"/>
		</controlSources>
		<settings>
			<!-- Parameter name for users' Sitecore domain -->
			<setting name="UsersField.DomainParameterName" value="Domain" />
		</settings>
	</sitecore>
</configuration>
