@font-face {
    font-family: 'Gotham';
    font-weight: 400;
    src: url('../fonts/Gotham/gotham-book-regular-webfont-woff2.woff2') format('woff2'),
         url('../fonts/Gotham/gotham-book-regular-webfont-woff.woff') format('woff'),
         url('../fonts/Gotham/gotham-book-regular-webfont-ttf.ttf') format('truetype');
    
}

@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    src: url('../fonts/Gotham/gotham-medium-regular-webfont-woff2.woff2') format('woff2'),
         url('../fonts/Gotham/gotham-medium-regular-webfont-woff.woff') format('woff'),
         url('../fonts/Gotham/gotham-medium-regular-webfont-ttf.ttf') format('truetype');
    
}
@font-face {
    font-family: 'Gotham';
    font-weight: 700;
    src: url('../fonts/Gotham/gotham-bold-webfont-woff2.woff2') format('woff2'),
         url('../fonts/Gotham/gotham-bold-webfont-woff.woff') format('woff'),
         url('../fonts/Gotham/gotham-bold-webfont-ttf.ttf') format('truetype');
    
}




