//Backgrounds colors

$bg-blue-active: #0083be !default;
$bg-blue-light: #add8e6;
$bg-submenu: #edebeb !default;
$bg-submenu-active: #f6f6f6 !default;
$bg-black: #000;
$bg-black-active: #3d3d3d;
$white: #fff;
$blue-theme: #0066cc;
$blue-2:#3fa9f5;
$border-color:#a7a9ac;
$search-border: #003870;
$grey-2:#d3d3d3;
$grey-bg:#e8e8e8;
$grey-text: #666666;
$red-error:#f00;
//Flip
$flip-rollover: #0083be;

//Text colors
$anchor-hover-light-blue: #1599e8;
$text-color:#333;

$text-basic:#8e9091 !default;
$text-black: #000 !default;

$anchor: #337ab7;
$anchor-hover: #23527c;

$small-heading-black: #666;

$blue-heading: #234c5b;
$orange-heading: #e26a31;
$search-color: #f1f2f2;
$footer-background:#234c5b;
$footer-link-color: #c3d5d8;
$select-color: #4b4b4b;