@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields

@model Sitecore.XA.Feature.Media.Models.ImageRenderingModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "image", Model.Attributes)>
    <div class="component-content">
        @if (Model.DataSourceItem != null)
        {
            foreach (BaseVariantField variantField in Model.VariantFields)
            {
                //@Html.RenderingVariants().RenderVariant(variantField, Model.DataSourceItem, Model.RenderingWebEditingParams, Model.Href)
                // Updated 'Model.href' parameter to 'null' as image component with external image link was not opening in new tab in the browser
                @Html.RenderingVariants().RenderVariant(variantField, Model.DataSourceItem, Model.RenderingWebEditingParams, null)
            }
        }
        else
        {
            @Model.MessageIsEmpty
        }
    </div>
</div>
