//Basic colors
$white: #fff;
$black: #000;
$red: #f00;
$body-color: #333;
$anchor-primary: #6d1c54;
$text-secondary: #54244a;
$text-title-primary: #771e5b;
$para-color: #47484a;
$ellipse-bg: #1c0a30;
$gray-heading: #777777;
$yellow-heading: #f3cf45;
$border-light: #eeeeee;
$gray-bg: #e1e2e3;

//Links
$link-color: #0000ff;
$link-hover: #0000b3;
$btn-yellow-primary: #efcd12;
$btn-yellow-secondary: #bf8d2c;

//Header
$header-bg: #771e5b;

//Footer
$footer-bg: #672357;

//Breadcrumb
$seperator-color: #ccc;
$breadcrumb-link: #666;

//Search page
$title-bg: #34162d;

//Hubspot form
$input-color: #555555;
$input-border: #66afe9;

//Product-listing
$filter-bg: #e1e2e3;
