@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {
  &.header-shell {
    .row.column-splitter>div{
      padding: 0;
    }
    &.variant-1 {
      &.active {
        .component-content {
          .menu-wrapper {
            display: block;
          }
        }
      }
      .container {
        @media screen and(max-width:991px) {
          width: 100%;
        }
      }
      .component.plain-html {
        .hamburger {
          background-image: url(../images/Ham_menu.png);
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: cover;
          width: 40px;
          height: 37px;
          right: 0;
        }
      }
      position: relative;
      margin-bottom: 0px;
      border-radius: 0;
      background-color: $blue-theme;
      min-height: initial;
      z-index: 60;
      background-image: none;
      .container {
        >.row {
          min-height: 14.5rem;
          padding-top: 10px;
          padding-bottom: 10px;
          @media screen and (min-width:992px) {
            min-height: 16rem;
          }
        }
      }

      &:before {
        border: none;
      }

      .search-box {
        .search-wrapper {
          .search-input-wrapper {
            input {
              display: block !important;
              color: $blue-theme;
              @include respond-to(desktop) {
                font-size:2.3rem;
                font-weight: 400;
                width: 22.6rem;
              }
            }
          }
        }
      }

      .component {
        &.plain-html {
          .hamburger {
            margin: 4.5rem 0;
            @media screen and (min-width:451px) {
              margin: 3.8rem 0;
            }
            .icon-bar {
              background-color: transparent;
            }
          }
        }
      }
      .component {
        &.search-box {
          margin-bottom: 0rem;
          margin-left: 2.6rem;
          right: -8px;
          padding-right: 0;
        }
      }
      @include respond-to(desktop) {
        .component {
          &.search-box {
            .search-wrapper {
              .custom-search-box-button {
                margin-top: 0rem;
              }
            }
          }
        }
      }

      @include respond-to(extra-large-desktop) {
        .component {
          &.search-box {
            right: -14.4rem;
          }
        }
      }

      .component-content {
        position: relative;

        .logo-wrap {
          left: 0;
          line-height: 0;

          @media screen and (max-width:991px) {
            left: 15px;
            -webkit-transform: initial;
            transform: initial;
            top: 25px;
          }

          @media screen and (max-width:450px) {
            top: 34px;
          }

          @include respond-to(desktop) {
            left: 50%;
            top: 22px;
          }

          .image {
            max-width: 30rem;

            img {
              width: 30rem;
              position: relative;

              @include respond-to(desktop) {
                width: auto;
              }

              @media screen and (max-width: 450px) {
                max-width: 250px;
              }
            }

            @include respond-to(extra-large-desktop) {
              max-width: 55rem;

              img {
                width: auto;
              }
            }
          }
        }

        .menu-wrapper {
          padding: 4rem 4rem 0 1rem;

          @include respond-to(desktop) {
            padding: 0 4rem 0 1rem;
            position: absolute;
            top: 6.7rem;
            background-color: transparent;
          }

          @include respond-to(extra-large-desktop) {
            top: 14.7rem;
          }

          background-color: $blue-theme;

          .page-list {
            &.variant-1 {
              padding-right: 0;

              .items {
                float: initial;

                @include respond-to(desktop) {
                  float: left;
                }

                @include respond-to(extra-large-desktop) {
                  position: absolute;
                  right: 21rem;
                }

                justify-content:normal;

                .item {
                  padding: 1rem 1.2rem 1rem 1.5rem;
                  margin: 0 0 0 1.8rem;
                  border: none;
                  position: relative;

                  @include respond-to(desktop) {
                    padding: 0 1.2rem;
                    position: initial;
                    margin: 0 1.8rem;

                    &:hover {
                      .submenu-utility-linklist {
                        display: block;
                      }
                    }
                  }

                  &.has-submenu-list {
                    &::before {
                      display: none;
                    }

                    &:after {
                      display: inline-block;
                      position: absolute;
                      top: 0;
                      top: 12px;
                      right: 5px;
                      content: "";
                      color: $white;
                      border-top: 8px dashed;
                      border-right: 8px solid transparent;
                      border-left: 8px solid transparent;

                      @include respond-to(desktop) {
                        top: .5rem;
                        right: initial;
                        margin-left: 1rem;
                        position: initial;
                      }
                    }
                  }

                  a {
                    color: $white;
                    font-size: 1.5rem;
                    text-transform: none;
                    font-weight: normal;
                    border: none;
                  }

                  .submenu-utility-linklist {
                    @include respond-to(desktop) {
                      max-width: 100%;
                      width: 35%;
                      background-color: $blue-theme;
                      //left: 0;
                      margin-left: -2.5rem;
                      box-shadow: 0px 5px 6px 0px #0000002d;
                    }
                    @include respond-to(extra-large-desktop) {
                      width: 37%;
                    }

                    .link-list {
                      ul {
                        margin-top: 1rem;

                        @include respond-to(desktop) {
                          margin-top: 0;
                        }

                        li {
                          font-size: 1.4rem;
                          padding: 0.2rem 3rem;
                          text-align: left;

                          @include respond-to(desktop) {
                            padding: 1rem 0;
                          }

                          a {
                            border: none;
                            padding: 0;
                          }

                          .field-link {
                            a {
                              &:hover {
                                text-decoration: underline;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.menu-right {
                @include respond-to(desktop) {
                  padding-left: 0;
                  margin-left:16%;
                }
                .items {
                  @include respond-to(desktop) {
                    float: right;

                    .item {
                      position: initial;
                      padding: 0px 1.2rem;
                      margin: 0 0.2rem;
                    }
                  }

                  @media screen and (min-width:1300px) {
                    .item {
                      margin: 0 1.2rem;
                    }
                  }

                  @include respond-to(extra-large-desktop) {
                    position: absolute;
                    right: -14rem;
                  }
                }
              }
            }
          }
        }
      }

      @include respond-to(extra-large-desktop) {
        height: 23.2rem;
      }
    }
  }
}

.ui-autocomplete {
  &.global-search-sugest {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include respond-to(desktop) {
      width: 22.6rem;
    }
    .ui-menu-item {
      .ui-menu-item-wrapper {
        font-size: 1.4rem;
        font-weight: 400;

        &:hover {
          background-color: #616161;
          color: $white;
        }
      }
    }
  }
}