@import "abstracts/vars";
@import "abstracts/mixins";

.header-shell {
  &.variant-3 {
    position: static;
    background-color: transparent;
    box-shadow: none;
    @include respond-to(tab-horizontal-max) {
      padding: 0;
    }
    .image {
      margin: auto auto auto 0;
      @include respond-to(tab-horizontal-max) {
        padding-top: 0;
        img {
          max-width: 95px;
        }
      }
    }
  }
  .component {
    &.header-global-menu {
      ul {
        &.items {
          li {
            &.item {
              @include respond-to(tab-horizontal) {
                padding: 0px 1vw 0px 1vw;
                margin-top: 80px;
              }
              ul {
                &.sub-menu-list {
                  @include respond-to(tab-horizontal) {
                    top: 2rem;
                    padding: 10px 15px 10px 30px;
                  }
                  li {
                    &.sub-menu-item {
                      margin-bottom: 5px;
                      a {
                        font-size: 1.2rem;
                        text-transform: capitalize;
                        &:hover {
                          text-decoration: underline;
                          color: $white-color;
                        }
                      }
                    }
                  }
                }
              }
              .has-sublist {
                &:after {
                  display: none;
                }
              }
              a {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 22px;
                @include Montserrat-font-stack();
                &:hover {
                  color: $pink-color;
                }
              }
            }
          }
        }
      }
      .items {
        justify-content: flex-end;
        padding-right: 50px;
        @include respond-to(tab-horizontal-max) {
          padding-right: 0;
        }
        .item {
          .has-sublist {
            &:before {
              color: $blue-color;
              @include respond-to(tab-horizontal) {
                display: none;
              }
            }
            &:after {
              color: $blue-color;
              @include respond-to(tab-horizontal) {
                display: none;
              }
            }
          }
          &:hover {
            ul {
              &.sub-menu-list {
                display: block;
                @include respond-to(tab-horizontal) {
                  background: rgba(64, 34, 104, 0.78);
                }
                @include respond-to(tab-horizontal-max) {
                  display: none;
                }
                border: none;
              }
            }
          }
        }
      }
    }
  }
}

@include respond-to(tab-horizontal-max) {
  .header-shell {
    &.variant-3 {
      .component {
        &.plain-html {
          position: absolute;
          .hamburger {
            left: initial;
            right: 0;
            top: -65px;
            .icon-bar {
              height: 3px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    .component {
      &.header-global-menu {
        background-color: $white-color;
        ul {
          &.items {
            li {
              &.item {
                border-bottom: none;
                a {
                  font-size: 2rem;
                  font-weight: 700;
                  color: $blue-color;
                  &:hover {
                    color: $blue-color;
                  }
                }
                ul {
                  &.sub-menu-list {
                    li {
                      &.sub-menu-item {
                        a {
                          font-size: 1.6rem;
                          font-weight: 700;
                          color: $blue-color;
                          &:focus {
                            text-decoration: underline;
                            color: $pink-color;
                          }
                          &:hover {
                            text-decoration: underline;
                            color: $pink-color;
                          }
                        }
                      }
                    }
                  }
                }
                a {
                  font-size: 2rem;
                  @include Montserrat-font-stack();
                  text-transform: capitalize;
                  &:hover {
                    color: $blue-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
