@import "vars";

/* breakpoints */

$break-mobile: 767px;
$break-small-device: 480px;
$break-tab: 768px;
$break-desktop: 992px;
$break-tab-horizontal: 1024px;
$break-mobile-horizontal: 640px;
$large-desktop: 1200px;
$extra-largedesktop: 1300px;
$break-tab-horizontal-max: 1024px;
$break-desktop-max: 991px;

@mixin respond-to($media) {
  @if $media==mobile {
    @media only screen and (max-width: $break-mobile) {
      @content;
    }
  }
  @if $media==tab-horizontal {
    @media only screen and (min-width: $break-tab-horizontal) {
      @content;
    }
  }
  @if $media==tab-horizontal-max {
    @media only screen and (max-width: $break-tab-horizontal-max) {
      @content;
    }
  }
  @if $media==desktop-max {
    @media only screen and (max-width: $break-desktop-max) {
      @content;
    }
  }
  @if $media==small-device {
    @media only screen and (max-width: $break-small-device) {
      @content;
    }
  }
  @if $media==tab {
    @media only screen and (min-width: $break-tab) {
      @content;
    }
  } @else if $media==desktop {
    @media only screen and (min-width: $break-desktop) {
      @content;
    }
  } @else if $media==large-desktop {
    @media only screen and (min-width: $large-desktop) {
      @content;
    }
  } @else if $media==extra-largedesktop {
    @media only screen and (min-width: $extra-largedesktop) {
      @content;
    }
  } @else if $media==below-tab {
    @media only screen and (max-width: 991px) {
      @content;
    }
  } @else if $media==mob-horizontal {
    @media only screen and (min-width: $break-mobile-horizontal) {
      @content;
    }
  }
}

@mixin wrapper() {
  max-width: 960px;
  margin: 0 auto !important;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: $sizeValue + rem;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin Vita-din-2014-font-stack() {
  font-family: "din-2014", sans-serif;
}

@mixin Vita-din-condensed-font-stack() {
  font-family: "din-condensed", "din-2014", sans-serif;
}

@mixin Arial-font-stack() {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin Helvetical-New-font-stack() {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@mixin Arial-Narrow-font-stack() {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

@mixin Verdana-font-stack() {
  font-family: Verdana, Arial, Helvetica, Sans-serif;
}

@mixin Arial-Narrow-font-stack() {
  font-family: 'Arial Narrow', Arial, sans-serif;
}
