@import "abstracts/vars";
@import "abstracts/mixins";

.component {
    &.image {
        img {
            width: 100%;
        }
        .field-imagecaption{    
            padding: 2.5rem 1.5rem;        
           a{
            font-size: 3.4rem;
            font-weight: 500;
            font-style: initial;
            text-decoration: none;
            color: #333;
            &:hover{
                text-decoration: underline;
            }
           }
        }
        &.secondary{
            padding: .5rem 1.5rem;
            .component-content{
                padding: .5rem 1.5rem;
                border: 1px solid #dddddd;
            }            
        }
    }
}
.natural-turf{
    .component {
        &.image {
            max-width: 80%;
        }
    }
}