@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Fields
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@model CGP.Feature.FindSalesRepresentatives.Models.FindSalesRepresentativesViewModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "sales-rep", Model.Attributes) data-sales-rep='@Model.JSONData'>
    <div class="component-content">
        @foreach (BaseVariantField variantField in Model.VariantFields)
        {
            @Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
        }
    </div>
</div>