@import "abstracts/vars";
@import "abstracts/mixins";

a.btn-cadet-inverted,
.sxa-btn,
.sxa-btn-primary {
  a {
    color: $white;
    background-color: $title_primary;
    border-color: transparent;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.32rem;
    line-height: $line-height;
    padding: 0.6rem 3.2rem;
    @include Franlink-font-stack();
    &:hover {
      color: $title_primary;
      background-color: $white;
      border-color: $white;
      text-decoration: none;
      outline: none;
    }
    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.13);
    }
  }
}

.component {
  &.load-more {
    a {
      text-transform: uppercase;
    }
  }
}

@import "styles/forms/*";
