<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentDelivery OR ContentManagement">
    <log4net>
      <root>
        <priority>
            <patch:attribute name="value">ERROR</patch:attribute>
        </priority>
      </root>
	  <logger name="Sitecore.Diagnostics.Publishing" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="ClientRoot" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="Sitecore.Diagnostics.Search" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="Sitecore.Diagnostics.Crawling" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="Sitecore.Owin.Diagnostics" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="Sitecore.Analytics.Aggregation" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="Sitecore.FXM.Diagnostics" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	 
	  <logger name="Sitecore.EXM" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="Spe" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
	  <logger name="Sitecore.EDS" additivity="false">
        <level>
            <patch:attribute name="value">ERROR</patch:attribute>
        </level>
      </logger>
    </log4net>
  </sitecore>
</configuration>