@import "vars/colors";
@import "base/fontawesome/font-awesome-mix-var";

$line-height: 1.42857143;

/* font declaration */
$primary-font: "'nunito-sans', sans-serif";
$secondary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;


