// Main colors
$white-color: #fff;
$black-color: #000;
$dark-color:#414141;
$red-color:#b42025;
$gray-color:#b2b4b5;
$blue-color:#025580;
$light-blue:#0376b2;
$light-gray: #f4f3f3;
$yellow-color:#e4b830;
$dark-yellow:#9a7914;
$dark-red-color:#841618;
$light-dark:#59595b;
$blue-dark:#012d44;
$light-black:#131313;
$red-color1:#c00000;
$dark-black:#555555;
$gray : #cccccc;
$gray-secondary: #ddd;
$brown: #550000;
$gray-tertiary:#e6e6e6;

