//Basic colors
$white: #fff;
$black: #000;
$body-color: #333;
$anchor-primary: #683b16;
$btn-hover: #9f5a22;
$border-yellow: #f9e11b;
$bg-blue: #a1cbca;
$bg-gray: #ded2c4;
$bg-faq: #c7b39c;
$bg-faq-hover: #ddd1c3;
$table-border: #cecfd5;
$bg-brown: #5a300b;
$table-bg: #f0f0f2;
