// Main color
$primary-color:#434343;
$gray:#4B4B4B;
$white:#fff;
$blue:#337ab7;
$green:#008d5a;
$light-green:#94C83D;
$button-hover:#00cf84 ;
$border-light-gary:#ddd;
$gray-secondary:#707070;
$input-border:#AFAFAF;
$black:#000;
$dark-gray:#333333;
$gentrol-green:$light-green;
$zenprox-color:#92c5eb;
$precor-color:#f8d000;
$premise-color:#db6a2c;
$essentria-color:#c4d028;
$default-product:#ccc;
$black-transparent:#00000017;
$box-shadow-hover:#00000063;
$essentria-color-accordion:#f5f5f5;
$anchor-hover-blue:#23527c;
$secondary-border:#eeeeee;

