@import "abstracts/vars";
@import "abstracts/mixins";

.component {
  &.accordion {
    .toggle-header {
      .label {
        padding: 1rem 0;
      }

      .component {
        .field-heading {
          font-size: 1.6rem;
          @include mont-font-stack();
          padding: 0 2.5rem;
          font-weight: 600;
          line-height: 1.728rem;
          display: inline-block;
          &::after,
          &::before {
            background: #333;
            height: 1.2rem;
            width: 2px;
            left: 0.6rem;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .toggle-content {
      .component {
        .field-content {
          font-size: 1.6rem;
          color: #2b2d42;
          padding: 1rem 3rem;
          ul {
            li {
              list-style-type: disc;
            }
          }
        }
      }
    }
  }
}
