@import "abstracts/vars";
@import "abstracts/mixins";

html {
  max-width: 1920px;
  margin: 0 auto;
}

.container:not(.col-12) {
  max-width: 100%;
  margin: 0 auto;
  @include respond-to(desktop) {
    padding: 0 25px;
  }
}

#content {
  min-height: calc(100vh - 229px);
}

.home-page {
  .container-fluid {
    padding: 0;
  }
}

