@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {
  &.accordion {
    // .item.active {
    //   .field-heading {
    //     a {
    //       text-decoration: underline;
    //     }
    //   }
    // }
    .toggle-header {
      .component {
        .field-heading {
          padding: initial;
          a {
            color: $text-secondary;
            font-size: 2rem;
            font-weight: 600;
            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
    .toggle-content {
      .component {
        .field-content {
          color: #545557;
          font-size: 2rem;
          font-weight: 500;
          padding: initial;
        }
      }
    }

    @include respond-to(desktop) {
      .toggle-header {
        .component {
          .field-heading {
            a {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}
