@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.store-locator {
  .store-locator-info {
    @include Helvetica-neue-font();
    .search-store-form {
      #zipcode,
      #radius {
        text-align: left;
        padding: 8px 10px;
        color: #555;
        border: 1px solid #555;
        font-size: 1.4rem;
        text-transform: uppercase;
        border-radius: 0;
      }
      #radius {
        text-transform: none;
        padding: 8px 0;
        option {
          color: #555;
          text-align: left;
        }
      }
      .btn-default {
        height: auto;
        text-transform: none;
      }

      .zip-error {
        color: #f00;
        text-transform: uppercase;
      }
    }

    #search-result-list {
      .store-info {
        h4 {
          color: $text-primary;
          font-size: 1.8rem;
          font-weight: 700;
          @include Helvetica-neue-font();
        }
        p {
          a {
            color: $text-primary;
            text-decoration: underline;
          }
        }
      }
      .store-marker {
        color: $text-primary;
      }
    }
  }
}
