@import "abstracts/vars";
@import "abstracts/mixins";
@import "abstracts/functions";

.component {
  &.rich-text {
    .club-button {
      a {
        line-height: 77px;
        border: 1px solid #ddd;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
          background-color: $orange-dark;
          border-color: $orange-dark;
         
        }
      }
    }
    .modal-container {
      display: none;

      .popup-inner {
        width: 381px;
        padding: 4rem;
        padding-top: 0;
        position: absolute;
        top: 115%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: none;
        z-index: 1;

        .popup-close {
          width: 3rem;
          height: 3rem;
          padding-top: 4px;
          display: inline-block;
          position: absolute;
          top: 0;
          right: 5rem;
          transition: ease 0.25s all;
          transform: translate(50%, -50%);
          border-radius: 1000px;
          background: rgba(244, 117, 35, 0.8);
          font-size: 20px;
          text-align: center;
          line-height: 100%;
          color: $white;

          &:hover {
            transform: translate(50%, -50%) rotate(180deg);
            background: $orange;
            text-decoration: none;
          }
        }
        img {
          width: 30.1rem;
          height: 30.1rem;
          background-color: $popup-bg;
          border-radius: 25px;
        }
      }

      @include respond-to(tab) {
        .popup-inner {
          top: 120%;
          left: 50%;

          .popup-close {
            right: 20px;
          }
        }
      }

      @include respond-to(desktop) {
        .popup-inner {
          position: relative;
          top: 218px;
          left: 42%;

          .popup-close {
            top: 1rem;
            right: 10%;
          }
          img {
            background-color: transparent;
          }
        }
      }
    }
  }
}
