@import "abstracts/mixins";
@import "abstracts/vars";

.component {
    &.page-description {
        .product-title {
            color: $text-small-heading-color;

            h1 {
                color: $text-heading-blue;
            }

            p {

                font-size: 1.4rem;
            }
        }

    }
}