@import "abstracts/mixins";
@import "abstracts/vars";
@import "base/fontawesome/font-awesome-mix-var.scss";

.component {
    &.accordion {
        &.variant-1 {
            .items {
                list-style: none;
                padding: 0;
            }

            .item {
                border-bottom: none;
                list-style: none;
                margin-bottom: 0.8rem;

                &.active {
                    .toggle-header {
                        .component {
                            .field-heading {
                                &:before {
                                    left: 3rem !important;
                                    top: 1rem !important;
                                }
                            }
                        }
                    }
                }
            }

            .toggle-header {
                .component {
                    .field-heading {
                        color: #969696;
                        font-size: 1.6rem;
                        transition: initial;
                        padding: .3rem 1.5rem .3rem 4rem;

                        &:before {
                            color: #969696;
                            font-size: 4.8rem;
                            transition: initial;
                            background: transparent;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }

            .toggle-content .component {
                .field-content {
                    padding: 0.5rem 0.5rem 4.5rem 4rem;
                    font-size: 2rem;
                    line-height: 3.2rem;
                }
            }
        }
    }
}