@import "abstracts/mixins";
.component {
  &.hero {
    .banner-image {
      margin: auto;
      text-align: center;
      width: 77%;
      @include respond-to(desktop) {
        width: 100%;
      }
    }
  }
}
