@import "abstracts/mixins";
.component {
    &.hero {
        @include respond-to(desktop) {
            padding-left: 35px;
            .banner-image {
                width: 100%;
            }
        }
        .banner-image {
            margin: auto;
            text-align: center;
            width: 77%;
        }
    }
}
